.trip-location-card {
  .card {
    padding: $spacing-xs $spacing-sm;
  }

  .tag {
    padding: $spacing-xxs;
  }
}

.trip-location-card__info {
  margin-top: $spacing-sm;
}

.trip-location-card__tag {
  margin-top: $spacing-xs;
}

.trip-location-card__book-preferences {
  margin-top: $spacing-sm;
  font-size: 0.9em;

  ul {
    margin: $spacing-xxs 0 0;
    padding-left: $spacing-md;
  }

  li + li {
    margin-top: $spacing-xxs;
  }
}
