---
http_interactions:
- request:
    method: get
    uri: https://openlibrary.org/api/books?bibkeys=ISBN:9780140449266&format=json&jscmd=data
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"ISBN:9780140449266": {"url": "http://openlibrary.org/books/OL3703020M/The_Count_of_Monte_Cristo",
        "key": "/books/OL3703020M", "title": "The Count of Monte Cristo", "authors":
        [{"url": "http://openlibrary.org/authors/OL18236A/Alexandre_Dumas", "name":
        "Alexandre Dumas"}], "number_of_pages": 1276, "pagination": "xxviii, 1276
        p. ;", "by_statement": "Alexandre Dumas (pe\u0300re) ; translated and with
        an introduction and notes by Robin Buss.", "identifiers": {"goodreads": ["7126"],
        "isbn_10": ["0140449264"], "lccn": ["2003270054"], "openlibrary": ["OL3703020M"]},
        "classifications": {"lc_classifications": ["PQ2226 .A327 2003"], "dewey_decimal_class":
        ["843/.7"]}, "publishers": [{"name": "Penguin Books"}], "publish_places":
        [{"name": "London, England"}, {"name": "New York, N.Y"}], "publish_date":
        "2003", "subjects": [{"name": "France -- History -- 19th century -- Fiction",
        "url": "https://openlibrary.org/subjects/france_--_history_--_19th_century_--_fiction"},
        {"name": "France", "url": "https://openlibrary.org/subjects/france"}, {"name":
        "Fiction", "url": "https://openlibrary.org/subjects/fiction"}, {"name": "France
        in fiction", "url": "https://openlibrary.org/subjects/france_in_fiction"},
        {"name": "History", "url": "https://openlibrary.org/subjects/history"}, {"name[...]
