/* COLORS */
$dark: #191919;

$grey-100: #b9b9b9;
$grey-200: #585858;

$beige-100: #f5f3ed;
$beige-150: #f0eee8;
$beige-200: #ece6d6;
$beige-300: #ddcead;
$beige-400: #c0b190;

$green-primary: #006653;
$green-primary-darker: #005142;
$green-pastel: #ecf4ef;
$yellow: #fdd051;

$red: #c4362c;

$white: #ffffff;

$color-background-main: $beige-100;
$color-background-dark: $beige-200;
$color-accent: $green-primary;
$color-accent-secondary: $yellow;
$color-error: $red;

$color-text: $dark;
$color-text-secondary-minor: $grey-100;
$color-text-secondary-major: $grey-200;

$disabled-background-color: $beige-150;
$disabled-border-color: $beige-300;
