---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3A<OAUTH_ASSERTION>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"<ACCESS_TOKEN>","expires_in":3599,"token_type":"Bearer"}'
  recorded_at: Thu, 16 Oct 2025 13:46:06 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/10HruPjeSsZX2-IYSkpTxPd-Jfnc9jTDRXcTFHWymlZw?fields=*&supportsAllDrives=true
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - "<AUTHORIZATION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "drive#file",
          "id": "10HruPjeSsZX2-IYSkpTxPd-Jfnc9jTDRXcTFHWymlZw",
          "name": "Wyjazd 25.01.2024 (test purposes, VCR uses it)",
          "mimeType": "application/vnd.google-apps.spreadsheet",
          "starred": false,
          "trashed": false,
          "explicitlyTrashed": false,
          "spaces": [
            "drive"
          ],
          "version": "214",
          "webViewLink": "https://docs.google.com/spreadsheets/d/10HruPjeSsZX2-IYSkpTxPd-Jfnc9jTDRXcTFHWymlZw/edit?usp=drivesdk",
          "iconLink": "https://drive-thirdparty.googleusercontent.com/16/type/application/vnd.google-apps.spreadsheet",
          "hasThumbnail": true,
          "thumbnailLink": "https://lh3.googleusercontent.com/drive-storage/AJQWtBMjHELUiLi2T7pWju2SDue0epX8bx04UaK-CgR5P-u-0XGtYXDQzq6EX1cMxJkl2__yi3_Xl3TX_ixIuZrftkN-w9yv3unSLCBwZYCGsbbwpt7nq3k_TjObDHQZ=s220",
          "thumbnailVersion": "63",
          "viewedByMe": false,
          "createdTime": "2024-02-07T13:18:01.095Z",
          "modifiedTime": "2025-10-16T13:40:34.111Z",
          "modifiedByMe": false,
          "owners": [
            {
              "kind": "drive#user",
              "displayName": "arkadiusz.kita",
              "photoLink": "https://lh3.googleusercontent.com/a-/ALV-UjUK4krJSTbV4IgZkYRygbRUD_7ptUWBVQYjrqNMXlI5hrpVfg=s64",
              "me": false,
              "permissionId": "02169972844207666508",
              "emailAddress": "arkadiusz.kita@lunarlogic.io"
            }
          ],
          "lastModifyingUser": {
            "kind": "drive#user",
            "displayName": "hanna.seweryn",
            "photoLink": "https://lh3.googleusercontent.com/a-/ALV-UjWQS3DMWsgg6Qy9VFU9XVlMLHnqWbRTftsbozdnORXq6_It6s9j=s64",
            "me": false,
            "permissionId": "10364483808612044514"
          },
          "shared": true,
          "ownedByMe": false,
          "downloadRestrictions": {
            "itemDownloadRestriction": {
              "restrictedForReaders": false,
              "restrictedForWriters": false
            },
            "effectiveDownloadRestrictionWithContext": {
              "restrictedForReaders": false,
              "restrictedForWriters": false
            }
          },
          "capabilities": {
            "canAcceptOwnership": false,
            "canAddChildren": false,
            "canAddMyDriveParent": false,
            "canChangeCopyRequiresWriterPermission": false,
            "canChangeItemDownloadRestriction": false,
            "canChangeSecurityUpdateEnabled": false,
            "canChangeViewersCanCopyContent": false,
            "canComment": false,
            "canCopy": true,
            "canDelete": false,
            "canDisableInheritedPermissions": false,
            "canDownload": true,
            "canEdit": false,
            "canEnableInheritedPermissions": false,
            "canListChildren": false,
            "canModifyContent": false,
            "canModifyContentRestriction": false,
            "canModifyEditorContentRestriction": false,
            "canModifyOwnerContentRestriction": false,
            "canModifyLabels": false,
            "canMoveChildrenWithinDrive": false,
            "canMoveItemIntoTeamDrive": false,
            "canMoveItemOutOfDrive": false,
            "canMoveItemWithinDrive": false,
            "canReadLabels": false,
            "canReadRevisions": false,
            "canRemoveChildren": false,
            "canRemoveContentRestriction": false,
            "canRemoveMyDriveParent": true,
            "canRename": false,
            "canShare": false,
            "canTrash": false,
            "canUntrash": false
          },
          "viewersCanCopyContent": true,
          "copyRequiresWriterPermission": false,
          "writersCanShare": true,
          "size": "3709",
          "quotaBytesUsed": "3709",
          "isAppAuthorized": false,
          "exportLinks": {
            "application/x-vnd.oasis.opendocument.spreadsheet": "https://docs.google.com/spreadsheets/export?id=10HruPjeSsZX2-IYSkpTxPd-Jfnc9jTDRXcTFHWymlZw&exportFormat=ods",
            "text/tab-separated-values": "https://docs.google.com/spreadsheets/export?id=10HruPjeSsZX2-IYSkpTxPd-Jfnc9jTDRXcTFHWymlZw&exportFormat=tsv",
            "application/pdf": "https://docs.google.com/spreadsheets/export?id=10HruPjeSsZX2-IYSkpTxPd-Jfnc9jTDRXcTFHWymlZw&exportFormat=pdf",
            "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet": "https://docs.google.com/spreadsheets/export?id=10HruPjeSsZX2-IYSkpTxPd-Jfnc9jTDRXcTFHWymlZw&exportFormat=xlsx",
            "text/csv": "https://docs.google.com/spreadsheets/export?id=10HruPjeSsZX2-IYSkpTxPd-Jfnc9jTDRXcTFHWymlZw&exportFormat=csv",
            "application/zip": "https://docs.google.com/spreadsheets/export?id=10HruPjeSsZX2-IYSkpTxPd-Jfnc9jTDRXcTFHWymlZw&exportFormat=zip",
            "application/vnd.oasis.opendocument.spreadsheet": "https://docs.google.com/spreadsheets/export?id=10HruPjeSsZX2-IYSkpTxPd-Jfnc9jTDRXcTFHWymlZw&exportFormat=ods"
          },
          "linkShareMetadata": {
            "securityUpdateEligible": false,
            "securityUpdateEnabled": true
          },
          "inheritedPermissionsDisabled": false
        }
  recorded_at: Thu, 16 Oct 2025 13:46:07 GMT
- request:
    method: get
    uri: https://sheets.googleapis.com/v4/spreadsheets/10HruPjeSsZX2-IYSkpTxPd-Jfnc9jTDRXcTFHWymlZw?fields=sheets.properties
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - "<AUTHORIZATION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-L2-Request-Path:
      - l2-managed-6
    body:
      encoding: UTF-8
      string: |
        {
          "sheets": [
            {
              "properties": {
                "sheetId": 0,
                "title": "Arkusz1",
                "index": 0,
                "sheetType": "GRID",
                "gridProperties": {
                  "rowCount": 786,
                  "columnCount": 9,
                  "frozenRowCount": 1
                }
              }
            }
          ]
        }
  recorded_at: Thu, 16 Oct 2025 13:46:08 GMT
- request:
    method: get
    uri: https://sheets.googleapis.com/v4/spreadsheets/10HruPjeSsZX2-IYSkpTxPd-Jfnc9jTDRXcTFHWymlZw?fields=sheets.data.rowData.values(formattedValue,userEnteredValue,effectiveValue)&ranges=%27Arkusz1%27
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - "<AUTHORIZATION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-L2-Request-Path:
      - l2-managed-6
    body:
      encoding: UTF-8
      string: |
        {
          "sheets": [
            {
              "data": [
                {
                  "rowData": [
                    {
                      "values": [
                        {
                          "userEnteredValue": {
                            "stringValue": "GRUPA / MIEJSCA"
                          },
                          "effectiveValue": {
                            "stringValue": "GRUPA / MIEJSCA"
                          },
                          "formattedValue": "GRUPA / MIEJSCA"
                        },
                        {
                          "userEnteredValue": {
                            "stringValue": "OSOBY"
                          },
                          "effectiveValue": {
                            "stringValue": "OSOBY"
                          },
                          "formattedValue": "OSOBY"
                        },
                        {
                          "userEnteredValue": {
                     [...]
