.person-profile__no-requests {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  padding: $spacing-lg;
  gap: 16px;
}
.person-profile__no-requests-link-container {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 8px;
}

.person-profile__no-requests-link-text {
  color: $color-accent;
  text-decoration: underline;
  font-weight: 700;
}

.person-profile__no-requests-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: $yellow;
  border-radius: 50%;
}

.person-profile__no-requests-icon {
  width: 18px;
  height: 15px;
}
