<% content_for(:title, 'Raporty') %>
<%= render 'header' %>

<div class='main-content-area'>
  <div class='main-content-container'>
    <div class="btn-toolbar primary-toolbar" role="toolbar">
      <a class="btn btn-light" href="/admin_area/item_requests/reports.csv">
        <i class="fa fa-file"></i>
        <span class="btn-label">Pobierz Raport</span>
      </a>
    </div>
  </div>
</div>
