.footer {
  align-self: end;
  text-align: center;
  grid-area: footer;
}

.footer__text {
  display: flex;
  justify-content: center;
  height: $footer-height;
  background-color: $color-accent-secondary;
  font-size: $sm-font-size;
  padding: 0.5rem 0;
}

.footer__heart-icon {
  margin: 0 $spacing-xxs;
}
